.login-container {
  background-image: url("../../assets/logo.png");
  background-color: #868264;

  .form-item {
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
  }
}